:root {
    --black: black;
    --white: white;
    --grey: lightgrey;
    --blue: rgb(197, 225, 240);
    --pink: rgb(248, 199, 214);
}

* {
    font-family: Helvetica, Arial, sans-serif;
    line-height: 1.5;
}

html, body {
    margin: 0;
}

.row {
    display: flex;
}

.btn {
    background-color: var(--black);
    color: var(--white);
    padding: 4px 20px;
    font-size: 16px;
    border: 1px solid var(--black);
    text-decoration: none;
    font-weight: bold;
    border-radius: 36px;
    margin: 20px;
}

.disabled {
    pointer-events: none;
    color: var(--grey);
}

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
    padding-bottom: 30px;
    background-color: var(--grey);
}